.app-loader {
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(1px);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    border: .25em solid #343a40;
    border-right-color: #343a40;
    border-right-color: transparent;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

.font-weight-bold {
    font-weight: bold;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}